<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<p>
  <strong>University:</strong>
  <%= @profile.university %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @profile.subject %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @profile.phonenumber %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>:</strong>
  <%= @profile. %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
