<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @university_subject.university_id %>
</p>

<p>
  <strong>:</strong>
  <%= @university_subject. %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @university_subject.subject_id %>
</p>

<p>
  <strong>:</strong>
  <%= @university_subject. %>
</p>

<%= link_to 'Edit', edit_university_subject_path(@university_subject) %> |
<%= link_to 'Back', university_subjects_path %>
