<div class="container">
			<div class="row">

			<div class="span8">
				<h1>Liste</h1>

		
				<table id="list" class="table table-striped table-bordered">
				  

					<tr>
					  <th><%= sort_link(@search, :name, "Hochschule") %></th>
					  <th><%= sort_link(@search, :address_city_name, "Stadt") %></th>
					  <th><%= sort_link(@search, :address_city_state_name, "Bundesland") %></th>
					
					</tr>

				  <tbody id="innerlist">
				  <% @universities.each do |university| %>
					<tr> 
						<td><%= link_to(university.name, university) %></td>
						<td><%= university.address.city.name %></td>
						<td><%= university.address.city.state.name %></td>			
					</tr>
				  <% end %></tbody>
				</table>

			</div>
			<div class="span4">
					<div class="feature-box">
						<div class="box-content">
							<h4>Suchen</h4><p>
							<div class="form-group no-padding text-left">
								
								<%= search_form_for @search, url: search_quickSearch_path do |g| %>
								<%= g.label :name_cont, "Hochschule:" %>
								<%= g.text_field :name_cont, :id => "hochschulSearch", :class => "span3" %>
								<hr class="fancy-hr" style="margin-top: 0px; margin-bottom: 5px;">
								<h4>Suche filtern</h4><p>
								<%= check_box_tag("q[hs_type_in][]", "FH") %>FH<br>
								<%= check_box_tag("q[hs_type_in][]", "Uni") %>Uni<br>
								<%= check_box_tag("q[campus_eq_any][]", "true") %>Campus
								<%= g.label :name_cont, "Stadt:" %>
								<%= g.text_field :address_city_name_cont, :id =>"stadtSearch", :class => "span3" %>
								<%= g.label :address_city_state_name_cont, "Bundesland:" %>
								<%= g.collection_select :address_city_state_id_eq,State.all, :id,:name, :class => "span3", :include_blank => "" %>
								
								<%= g.label :subjects_name_cont, "Studiengang:" %>
								<%= g.text_field :subject_subject_types_subject_name_cont,:id =>"subjectSearch", :class => "span3" %>
													
								
								<%= check_box_tag("q[subjectSubjectType_subjectType_in][]", "Bachelor") %>Bachelor<br>
								<%= check_box_tag("q[subjectSubjectType_subjectType_in][]", "Master") %>Master<br>
								
								<div class="actions"><%= g.submit "Search" %></div>
								<% end %>
								
							</div>
						</div>
					</div>
			</div>

	</div>
</div>

