<!-- ==============================================
		Text mit Progress Bars
		=============================================== -->
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1><%= @headline %></h1>
						<hr class="fancy-hr">
						<div class="row">
							<!-- Die nummer hinter dem Span gibt an wie breit das ganze ist - Gesamtgroesse immer 12. Also bzw: Span4 und span8 oder 9 und 3-->
							<div class="span8">
								<h3><%= @contentHeadline1 %></h3>
								<p><%= @content1 %>
								</p>
								<div class="row">
									<div class="span4 top-margin">
										<h3><%= @contentHeadline2 %></h3>
										<p><%= @content2 %></p>
									</div>
									<div class="span4 top-margin bottom-margin">
										<h3><%= @contentHeadline3 %></h3>
										<p><%= @content3 %></p>
									</div>
								</div>
							</div> <!-- End Span8 -->
							<div class="span4">
								<h3>Progress Bars</h3>
								<div class="progress">
									<div class="bar" style="width: 95%;">
										Eins
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 80%;">
										Zwei
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 83%;">
										Drei
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 85%;">
										Vier
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 70%;">
										Fuenf
									</div>
								</div>
								<div class="progress">
									<div class="bar" style="width: 87%;">
										Sechs
									</div>
								</div >
								<div class="progress">
									<div class="bar" style="width: 100%; background-color:#f7f7f7 !important;;">
										<img src="/images/glyphicons/icon_more.png">
									</div>
								</div >
								</div>
							</div> <!-- End Span4 -->
						</div> <!-- End Row -->
					</div> <!-- End Span12 -->
				</div> <!-- End Row -->
