<% @unis.each_with_index do |uni, i| %>
<tr> 
	<td><%= i+1 %></td>
	<td><a href="/University/page/<%= uni.id %>"><%= uni.name %></a></td>
	<td><%= uni.address.city.name %></td>
	<td><%= uni.avg_evaluation %></td>
</tr>
<% end %>