<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>:</strong>
  <%= @address. %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @address.street_number %>
</p>

<p>
  <strong>:</strong>
  <%= @address. %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @address.postalcode %>
</p>

<p>
  <strong>:</strong>
  <%= @address. %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
