<%= form_for(@university_section) do |f| %>
  <% if @university_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university_section.errors.count, "error") %> prohibited this university_section from being saved:</h2>

      <ul>
      <% @university_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :university_id %><br>
    <%= f.text_field :university_id %>
  </div>
  <div class="field">
    <%= f.label : %><br>
    <%= f.number_field : %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.text_field :section_id %>
  </div>
  <div class="field">
    <%= f.label : %><br>
    <%= f.number_field : %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
