<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @university_section.university_id %>
</p>

<p>
  <strong>:</strong>
  <%= @university_section. %>
</p>

<p>
  <strong>Section:</strong>
  <%= @university_section.section_id %>
</p>

<p>
  <strong>:</strong>
  <%= @university_section. %>
</p>

<%= link_to 'Edit', edit_university_section_path(@university_section) %> |
<%= link_to 'Back', university_sections_path %>
